<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="LunchCheck">
    <h1>Module1 Assignment: Lunch Check App</h1>
    <div ng-controller="LunchCheckController">

      <p>WARNNING: Empty item (i.e., "item 1, item2,,item3" or "item 1, item2, ,item3") , will not be counted!</p>
      <input type="text" size="30" ng-style="inputBroder" ng-model="itemsEaten" autofocus
        ng-focus="clearPlaceholders();" placeholder="My lunch items separated by (,).">
      <p ng-style="messageColor"><strong>{{messagePlaceholder}}</strong></p>
      <button ng-click="checkup();">Check If Too Much</button>

    </div>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
